
@{
    Layout = "~/Views/Shared/_LayoutPaciente.cshtml";
}
<div>
    <header class="popover-header">
        <button>Imprimir</button>
    </header>

    <div style="width:100%">
        <h2>Dados da Consulta</h2>

        <ul class="form list-group">
            <li class="form-control list-group-item d-flex justify-content-between align-items-center">
                Medico
                <span class=" badge badge-primary badge-pill"> @ViewBag.Consulta.Medico</span>
            </li>
            <li class="form-control list-group-item d-flex justify-content-between align-items-center">
                Data da Consulta
                <span class="badge badge-primary badge-pill">@ViewBag.Consulta.Data.Date.ToString("dd/MM/yyyy")</span>
            </li>
            <h2>Anamnese</h2>
            <li class="form-control list-group-item d-flex justify-content-between align-items-center">
                TPR( temperatura - pulso - respiração)
                <span class="badge badge-primary badge-pill"> @ViewBag.Anamnese.TPR</span>
            </li>
            <li class="form-control list-group-item d-flex justify-content-between align-items-center">
                Antecedentes
                <span class="badge badge-primary badge-pill"> @ViewBag.Anamnese.Antecedentes</span>
            </li>
            <li class="form-control list-group-item d-flex justify-content-between align-items-center">
                QP(Queixa principal)
                <span class="badge badge-primary badge-pill"> @ViewBag.Anamnese.QP</span>
            </li>
            <li class="form-control list-group-item d-flex justify-content-between align-items-center">
                QP(Queixa principal)
                <span class="badge badge-primary badge-pill"> @ViewBag.Anamnese.QP</span>
            </li>
            <li class="form-control list-group-item d-flex justify-content-between align-items-center">
                HDA(História da doença no dia da consulta )
                <span class="badge badge-primary badge-pill"> @ViewBag.Anamnese.HDA</span>
            </li>
            <li class="form-control list-group-item d-flex justify-content-between align-items-center">
                Observações
                <span class="badge badge-primary badge-pill"> @ViewBag.Consulta.Observacao</span>
            </li>
        </ul>
    </div>
</div>